<!-- Top UI controls -->
<div class="row top-ui">
    <label class="text">
        <p>Character</p>
        <input #in_char type="text" maxlength="1" [value]="this.prefered_char"  >
    </label>
    
    <div>
        <button *ngIf="generator_running$.value" class="generator_button_stop" type="button" (click)="onToggleGenerator()">Stop</button>
        <button *ngIf="!generator_running$.value" class="generator_button_active" type="button" (click)="onToggleGenerator()">Start</button>
   </div>
</div>


<!-- Signature matrix -->
<table>
    <tr>
        <td></td>
        <td *ngFor="let x of range(this.matrix_size.width)" class="coordinate"> {{x}} </td>
    </tr>
    <tr *ngFor="let y of range(this.matrix_size.height)">
        <td class="coordinate"> {{y}} </td>
        <td *ngFor="let x of range(this.matrix_size.width)" >
            {{current_signature?.matrix?.getChar({x:x,y:y})}}
        </td>
    </tr>
</table>


<div class="code_part">
    Your code now is:
    <span>{{(current_signature$ | async)?.code}}</span>
</div>
