app-generator-live {
    margin: auto;
    display: block;
    width: fit-content;
    margin-top: 20px;
}

app-current-code {
    margin: auto;
    display: block;
    width: fit-content;
    margin-top: 10px;
}

p.turn-on-generator {
    color: rgb(98, 0, 255);
    margin-top: 30px;
    text-align: center;
}

form {
    display: flex;
    margin-top: 20px;
}

label {
    width: 150px;
    margin-right: 60px;
}

button {
    height: fit-content;
    align-self: flex-end;
    position: relative;
    top: 0px;
    font-size: small;
    padding: 7px 15px;
}

section.payments {
    margin-top: 40px;
}

section.payments table {
    width: 100%;
    margin-top: 30px;
}

section.payments tr th td:first-of-type {
    width: 100%;
    text-align: left;
}

.no-payments {
    margin-top: 80px;
    text-align: center;
    color: gray;
}

.code_part {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: large;
    width: fit-content;
    font-weight: normal;
    color: gray;
    text-transform: uppercase;
    border: 1px solid gray;
    border-radius: 4px;
}

.code_part span {
    color: black;
    font-weight: bold;
}